// Typography

// Fonts
$font-sans = 'Open-sans',Arial,Helvetica,sans-serif
$font-sans-light = 'Open-sans-light',Arial,Helvetica,sans-serif
$font-sans-bold = "Khula-Bold", Arial, sans-serif
$font-serif = 'Hemnet slab',serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


